<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zygj.hotel.mapper.RoomMapper">
    
    <resultMap type="Room" id="RoomResult">
        <result property="id"    column="id"    />
        <result property="buildingId"    column="building_id"    />
        <result property="floorId"    column="floor_id"    />
        <result property="roomNumber"    column="room_number"    />
        <result property="roomTypeId"    column="room_type_id"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectRoomVo">
        select id, building_id, floor_id, room_number, room_type_id, status, create_by, create_time, update_by, update_time, remark from room
    </sql>

    <select id="selectRoomList" parameterType="Room" resultMap="RoomResult">
        <include refid="selectRoomVo"/>
        <where>  
            <if test="buildingId != null "> and building_id = #{buildingId}</if>
            <if test="floorId != null "> and floor_id = #{floorId}</if>
            <if test="roomNumber != null  and roomNumber != ''"> and room_number = #{roomNumber}</if>
            <if test="roomTypeId != null "> and room_type_id = #{roomTypeId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectRoomById" parameterType="Long" resultMap="RoomResult">
        <include refid="selectRoomVo"/>
        where id = #{id}
    </select>

    <insert id="insertRoom" parameterType="Room" useGeneratedKeys="true" keyProperty="id">
        insert into room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="buildingId != null">building_id,</if>
            <if test="floorId != null">floor_id,</if>
            <if test="roomNumber != null and roomNumber != ''">room_number,</if>
            <if test="roomTypeId != null">room_type_id,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="buildingId != null">#{buildingId},</if>
            <if test="floorId != null">#{floorId},</if>
            <if test="roomNumber != null and roomNumber != ''">#{roomNumber},</if>
            <if test="roomTypeId != null">#{roomTypeId},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateRoom" parameterType="Room">
        update room
        <trim prefix="SET" suffixOverrides=",">
            <if test="buildingId != null">building_id = #{buildingId},</if>
            <if test="floorId != null">floor_id = #{floorId},</if>
            <if test="roomNumber != null and roomNumber != ''">room_number = #{roomNumber},</if>
            <if test="roomTypeId != null">room_type_id = #{roomTypeId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRoomById" parameterType="Long">
        delete from room where id = #{id}
    </delete>

    <delete id="deleteRoomByIds" parameterType="String">
        delete from room where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>